header{
    width: 100%;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav1{
 
    border: 2px solid rgb(145, 122, 122);


}

.nav2{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(238, 209, 209);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Dar espacio entre los segmentos */
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{

    width: 50%;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;   

}

article div{

    background-color: rgb(107, 223, 184);
    border: 3px solid rgb(255, 247, 247);


}

.div2{
    width: 50%;
    height: 500px;
    border: 1px solid rgb(255, 242, 242);

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;   

}

.cuadrito1{
    display: grid;
    grid-row-start: 1;
   grid-row-end: 3;
}
/* .div3{
    width: 50%;
    height: 500px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;   
} */

.div3{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;  

}

.div4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;  

}


.cuadro-1grid-4{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
}

.cuadro-2grid-4{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;

}

.cuadro-3grid-4{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;

}

.div5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;  
  
}













/* .div_grid2_1{
    grid-row.start - iniciar

} */

/* grid template colums fr */




/* .cuadro-1grid-4{
    display: grid;
    grid-row-start: 2;
   grid-row-end: 4;
}

.cuadro-2grid-4{
    display: grid;
    grid-row-start: 1;
   grid-row-end: 3;

}

.cuadro-4grid-4{
    display: grid;
    grid-row-start: 1;
   grid-row-end: 2;

} */


/* lo que acavas borrar */

/* .div5{
    display: grid;
    grid-column-start: 1fr 1fr 1fr;
   grid-column-end:  1fr 1fr;  
 
    
    

}

.cuadrito5{
    grid-column: grid;
    grid-column-start: 2;
    grid-column-end: 2;


} */









/* nav a {
    /* display: flex;
    justify-content: space-around;
    gap: 10px; 

} */
